<div class="card mb-1">
  <div class="d-flex">
<h5 class="heading">Facility</h5>
<button  mat-raised-button color="primary" class="text-white ms-auto m-2" (click)="openFacilityPopup()">
  Add <i class="pi pi-plus"></i>
</button>
<div class="m-2">
  <input
    matInput
    
    placeholder="Filter"
    class="filter"
  />
</div>
</div>

</div>

      
      <mat-card>
        <mat-card-header>
        
        </mat-card-header>
        <mat-card-content>
          <div class="table-container">
            <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- no data found -->
              <ng-container *matNoDataRow>
                <tr class="no-records-found">
                  <td style="text-align: center;" class="mat-cell" colspan="5">No Records found</td>
                </tr>
              </ng-container>

              <!-- Customer-Name Column -->
              <ng-container matColumnDef="customer-name">
                <th mat-header-cell *matHeaderCellDef> Customer</th>
                <td mat-cell *matCellDef="let facility">{{facility.CUST_NAME}}</td>
              </ng-container>

              <!-- Address Column -->
              <ng-container matColumnDef="address">
                <th  mat-header-cell *matHeaderCellDef> Address</th>
                <td mat-cell *matCellDef="let facility">{{facility.ADDRESS}}</td>
              </ng-container>
  
              <!-- Facility-License Column -->
              <ng-container matColumnDef="facility-license">
                <th mat-header-cell *matHeaderCellDef> Facility License </th>
                <td mat-cell *matCellDef="let facility">{{facility.FACILITY_LICENSE}}</td>
              </ng-container>

               <!-- Facility-Name Column -->
               <ng-container matColumnDef="facility-name">
                <th  mat-header-cell *matHeaderCellDef> Facility Name</th>
                <td mat-cell *matCellDef="let facility">{{facility.FACILITY_NAME}}</td>
              </ng-container>

               <!-- Emirate Column -->
               <ng-container matColumnDef="emirate">
                <th  mat-header-cell *matHeaderCellDef> Emirate</th>
                <td mat-cell *matCellDef="let facility">{{facility.EMIRATE}}</td>
              </ng-container>

               <!-- Post Office Column -->
               <ng-container matColumnDef="post-office">
                <th mat-header-cell *matHeaderCellDef> Post Office</th>
                <td mat-cell *matCellDef="let facility">{{facility.POST_OFFICE}}</td>
              </ng-container>
              

              
  
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let facility">
                  <button mat-button color="primary" matTooltip="Edit" (click)="editFacility(facility)" > <mat-icon>edit</mat-icon></button>
                  <button mat-button color="warn" matTooltip="Delete" (click)="deleteFacility(facility.ID,facility)"  ><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
      </mat-card>
     

  