.mat-card-header{
    position: relative;
}


.filter {
    width: 100%;
    max-width: 100px; 
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .filter:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .heading {
    font-size: 1 rem; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    padding-left: 15px;
    padding-top: 10px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-container {
    min-height: 460px; /* Adjust based on your layout */
    overflow-y: auto;
    overflow-x: auto;
    display: block;
  }
  .no-records-found{
    height: 460px;;
  }
  tr.mat-header-row {
    position: sticky;
    top: 0;
    padding-top: 0;
    z-index: 1;
  
  }
  .mat-header-cell {
    z-index: 2;
    background: hsl(224, 94%, 44%); /* Change color as needed */
  }
  mat-card-footer {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
    padding: 0;
  }

  
