<div class="card mb-1">
  <div class="d-flex">
    <h5 class="heading">Menu Group</h5>
    <button  mat-raised-button color="primary" class="text-white ms-auto m-2" (click)="openMenuGroupPopup()">
      Add <i class="pi pi-plus"></i>
    </button>
    <div class="m-2">
      <input
        matInput
        (keyup)="Filterchange($event)"
        placeholder="Filter"
        class="filter"
      />
    </div>
    </div>
</div>

    <mat-card>
      <mat-card-header> </mat-card-header>

      <mat-card-content>
        <div class="table-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
            <!-- no data found -->
            <ng-container *matNoDataRow>
              <tr class="no-records-found">
                <td style="text-align: center" class="mat-cell" colspan="5">
                  No Records found
                </td>
              </tr>
            </ng-container>
            <ng-container matColumnDef="slNo">
                <th mat-header-cell *matHeaderCellDef>SL No</th>
                <td mat-cell *matCellDef="let menuGroup; let i = index">{{ i + 1 }}</td>
              </ng-container>

            <ng-container matColumnDef="Menu Group">
              <th mat-header-cell *matHeaderCellDef>
                Menu Group
              </th>
              <td mat-cell *matCellDef="let menuGroup">
                {{ menuGroup.MENU_GROUP }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Menu Key">
              <th mat-header-cell *matHeaderCellDef>
                Menu Key
              </th>
              <td mat-cell *matCellDef="let menuGroup">
                {{ menuGroup.MENU_KEY }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Menu Order">
              <th mat-header-cell *matHeaderCellDef>
                Menu Oder
              </th>
              <td mat-cell *matCellDef="let menuGroup">
                {{ menuGroup.MENU_ORDER }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let menuGroup">
                <button mat-button color="primary" matTooltip="Edit" (click)="editMenuGroup(menuGroup.ID)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" matTooltip="Delete" (click)="deleteMenuGroup(menuGroup.ID,menuGroup)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator
          [pageSizeOptions]="[10]"
          showFirstLastButtons
        ></mat-paginator>
      </mat-card-footer>
    </mat-card>

