<div class="overlay mt-2">
  <div class="close" (click)="closeDialog()">&times;</div>
  <form [formGroup]="menuForm" class="p-4" (ngSubmit)="onSubmit()">
    <h2 class="mb-4">{{ mode === "add" ? "New Menu" : "Update Menu" }}</h2>
    <!-- Form Fields -->
    <div class="row">
      <!-- First Column -->
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Module</mat-label>
          <mat-select formControlName="MODULE_NAME" placeholder="Select Module">
            <mat-option
              *ngFor="let item of moduleList"
              [value]="item.DESCRIPTION"
            >
              {{ item.DESCRIPTION }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Display the selected module's description -->
        <!-- <div *ngIf="selectedModuleDescription">
            <p>Selected Module: {{ selectedModuleDescription }}</p>
          </div> -->

        <mat-form-field appearance="fill" class="form-group">
          <mat-label>MenuGroup</mat-label>
          <mat-select
            formControlName="MENU_GROUP"
            placeholder="Select Menu Group"
          >
            <mat-option
              *ngFor="let items of menuGroupList"
              [value]="items.DESCRIPTION"
            >
              {{ items.DESCRIPTION }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Menu</mat-label>
          <input
            matInput
            formControlName="MENU_NAME"
            placeholder="Enter Menu"
          />
          <!-- <mat-error *ngIf="submit && f.RESELLER_NAME.errors">*Reseller name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Menu Key</mat-label>
          <input
            matInput
            formControlName="MENU_KEY"
            placeholder="Enter Menu Key"
          />
          <mat-error *ngIf="f.MENU_KEY.errors?.['duplicateMenuKey']">
            Duplicate menu key not allowed.
          </mat-error>
          <!-- <mat-error *ngIf="submit && f.RESELLER_NAME.errors">*Reseller name is required</mat-error> -->
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Available from version</mat-label>
          <input
            matInput
            formControlName="MENU_VERSION"
            placeholder="Enter Menu Version"
          />
          <!-- <mat-error *ngIf="submit && f.RESELLER_NAME.errors">*Reseller name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Remarks</mat-label>
          <input
            matInput
            formControlName="REMARKS"
            placeholder="Enter Remarks"
          />
          <!-- <mat-error *ngIf="submit && f.RESELLER_NAME.errors">*Reseller name is required</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Menu Order</mat-label>
          <input
            matInput
            formControlName="MENU_ORDER"
            placeholder="Enter Menu Order"
          />
          <mat-error *ngIf="f.MENU_ORDER.errors?.['duplicateMenuOrder']">
            Duplicate menu order not allowed.
          </mat-error>
          <!-- <mat-error *ngIf="submit && f.RESELLER_NAME.errors">*Reseller name is required</mat-error> -->
        </mat-form-field>
        <div class="col-md-6"></div>
      <div class="form-group d-flex justify-content-end mt-3">
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="closeDialog()"
        >
          Cancel
        </button>
        <div class="mr-2"></div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="mx-2"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Save
        </button>
      </div>
      </div>
      
    </div>
  </form>
</div>
