
<div class="card mb-1">
  
  <div class="d-flex">
    <h5 class="heading">License</h5>
    <button  mat-raised-button color="primary" class="text-white ms-auto m-2" (click)="openLicensePopup()">
      Add <i class="pi pi-plus"></i>
    </button>
    <div class="m-2">
      <input
        matInput
        (keyup)="Filterchange($event)"
        placeholder="Filter"
        class="filter"
      />
    </div>
    </div>
  
</div><div class="card">
    <div class="card-body">
     
      <mat-card>
        <mat-card-header>
          
         
        </mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- no data found -->
              <ng-container *matNoDataRow>
                <tr>
                <td style="text-align: center;" class="mat-cell" colspan="5">No Records found</td>
                </tr>
              </ng-container>
              
              <ng-container matColumnDef="cust-name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let license">{{license.CUST_NAME}}</td>
              </ng-container>

              <ng-container matColumnDef="company-name">
                <th mat-header-cell *matHeaderCellDef> Company Name </th>
                <td mat-cell *matCellDef="let license">{{license.COMPANY_NAME}}</td>
              </ng-container>

              <ng-container matColumnDef="prod-name">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let license">{{license.PRODUCT_NAME}}</td>
              </ng-container>

              <ng-container matColumnDef="licensekey">
                <th mat-header-cell *matHeaderCellDef> License Key </th>
                <td mat-cell *matCellDef="let license">{{license.LICENSE_KEY}}</td>
              </ng-container>

              <ng-container matColumnDef="licensevalidity">
                <th mat-header-cell *matHeaderCellDef>License Expiry Date </th>
                <td mat-cell *matCellDef="let license">{{ license.LICENSE_EXPIRY_DATE | date:'d MMMM yyyy' }}</td>
              </ng-container>

              <ng-container matColumnDef="amcvalidity">
                <th mat-header-cell *matHeaderCellDef>AMC Expiry Date </th>
                <td mat-cell *matCellDef="let license">{{ license.AMC_EXPIRY_DATE | date:'d MMMM yyyy' }}</td>
              </ng-container>
              
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let license">
                  <ng-container *ngIf="license.STATUS === 'Expired'; then expiredStatus else (license.STATUS === 'Registered' ? registeredStatus : activeStatus)">
                  </ng-container>
                  <ng-template #expiredStatus><span class="text-danger">Expired</span></ng-template>
                  <ng-template #registeredStatus><span class="text-info">Registered</span></ng-template>
                  <ng-template #activeStatus><span class="text-success">Open</span></ng-template>
                </td>
              </ng-container>
  
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let license">
                  <button mat-button color="primary" matTooltip="Edit" (click)="editLicense(license.ID)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button color="warn" *ngIf="!license.IS_REGD || license.IS_EXPIRED" matTooltip="Delete" (click)="deleteLicense(license.ID)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-button color="accent" *ngIf="license.IS_REGD || license.IS_EXPIRED" matTooltip="Renew" (click)="renewLicense(license.ID)">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  