<div class="overlay mt-2">
  <div class="close" (click)="closeDialog()">&times;</div>
  <form [formGroup]="resellerForm" class="p-4" (ngSubmit)="onSubmit()">
    <h2 class="mb-4">
      {{ mode === "add" ? "New Reseller" : "Update Reseller" }}
    </h2>
    <!-- Form Fields -->
    <div class="row">
      <!-- First Column -->
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="RESELLER_NAME"
            placeholder="Enter Reseller Name"
          />
          <mat-error *ngIf="f.RESELLER_NAME.errors?.['duplicateReseller']">
            Reseller already exists..!
          </mat-error>
         
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Phone</mat-label>
          <input
            matInput
            formControlName="RESELLER_PHONE"
            placeholder="Enter phone"
            (keypress)="keyPressNumbers($event)"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="RESELLER_EMAIL"
            placeholder="Enter email"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Country</mat-label>
          <mat-select
            formControlName="COUNTRY_NAME"
            placeholder="Select Country"
          >
            <mat-option
              *ngFor="let items of countrylist"
              [value]="items.description"
            >
              {{ items.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Login Name</mat-label>
          <input
            matInput
            formControlName="LOGIN_NAME"
            placeholder="Enter Login Name"
          />
          <mat-error *ngIf="f.LOGIN_NAME.errors?.['duplicateLoginName']">
            Login Name already exists..!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="Password"
            formControlName="PASSWORD"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter password"
          />
          <mat-icon matSuffix (click)="toggleShow()">{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
          <!-- <mat-error *ngIf="submit && f.Password.errors">
                <div *ngIf="f.Password.hasError('required')">*Password is required</div>
                
            </mat-error> -->
        </mat-form-field>
      </div>
      <div class="form-group d-flex justify-content-end mt-3">
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="closeDialog()"
        >
          Cancel
        </button>
        <div class="mr-2"></div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="mx-2"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
